service: sonrie

org: joselayt
app: sonrie

provider:
  name: aws
  runtime: python3.9

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - httpApi: "*"

plugins:
  - serverless-wsgi

custom:
  wsgi:
    app: app.app
  pythonRequirements:
    dockerizePip: true