service: sonrie
fraworkVersion: "3"

provider:
  name: aws
  runtime: python3.9

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - httpApi: "*"

plugins:
  - serverless-wsgi
  - serverless-python-requirements

custom:
  wsgi:
    app: app.app
  pythonRequirements:
    dockerizePip: true